.form {
    width: 50vw;
    max-width: 500px;
    position: relative;
    margin: auto;
    z-index: 10;
    outline: #222;
    border-radius: 5px;
}
.btn {
    width: 100%;
}

.two-btn {
    width: 40%;
}

.title {
    text-align: center;
    font-size: large;
}